@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(4, 3, 78), rgb(46, 24, 172), rgb(34, 44, 136) , rgb(255, 255, 255));
}



main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

div#imagem > img {
    width: 210px;
    height: 230px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

section#login {
    background-color: white;
    height: 450px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.486);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    margin-top: 10px;
    text-align: center;
}

input#iuser, input#ipass {
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    height: 35px;
    width: 220px;
}

